.smallCircle {
    display: inline-block;
    width: 1.372%;
    padding-bottom: 1.372%;
    border: 1px solid #000;
    border-radius: 50%;
    bottom: -2px;
    position: relative;
    margin-right: 3px;
}

.largeCircle {
   
    display: inline-block;
    width: 3.948%;
    padding-bottom: 3.948%;
    border: 1px solid #000;
    border-radius: 50%;
    bottom: -4px;
    position: relative;
    margin-right: 3px;

}

.statewideLegend {
   
    display: inline-block;
    width: 3.948%;
    padding-bottom: 3.948%;
    border: 1px solid #000;
    //border-radius: 50%;
    bottom: -4px;
    position: relative;
    margin-right: 3px;
    position: relative;
    &:after {
        content: "";
        position: absolute;
        width: 77%;
        height: 77%;
        border: 1px solid #000;
        border-radius: 50%;
        left: 7.5%;
        top: 7.5%;
    }

}