@import '../../css/_variables.scss';
.map-container {
    margin-top: 20px;
    margin-bottom:20px;
.map-wrapper {
  position: relative;
  height: 0;
  width: 100%;
  padding-bottom: 53%;

}
 svg {
  position: absolute;
  &.activated {
    .links line:not(.active){
      display:none;
    }
    .nodes circle:not(.active):not(.attached){
      opacity:0;
      pointer-events: none;
    }
  }

  .links line {
    mix-blend-mode: hard-light;
    opacity: 0.30;
    transition: opacity 0.2s linear;
    &.statewide {
      opacity: 0;
    }
    &.below-threshold {
      display:none;
      &.active {
        display:inline;
      }
    }
    &.active {
      opacity: 1;

    }
    &.cluster-1 {
      stroke: #30653a;
    }
    &.cluster-2 {
      stroke: #7d4f00;
    }
    &.cluster-3 {
      stroke: #4e597d;
    }
    &.cluster-4 {
      stroke: #2a616e;
    }
    &.cluster-5 {
      stroke: #a3301e;
    }
    &.cluster-6 {
      stroke: #81447f;
    }
    &.cluster-7 {
      stroke: #005fa9;
    }
    &.no-cluster {
      stroke: #5a5a5a;
      transition: 400ms;
    }

    @for $i from 1 through 7 {
      &.cluster-#{$i} {
        transition-delay: #{$i * 50}ms;
      }
    }
  }

  .nodes circle {
    cursor: pointer;
    transition: opacity 0.2s linear;
    stroke: #fff;
    stroke-width: 0.1px;
    &:focus {
      outline: none;
    }
    &.active {
      stroke:$blue;
      stroke-width: 0.5px;
    }
    &.preview {
      stroke: gold;
      stroke-width: 0.5px;
      opacity:1 !important;
    }
    &.connected {
      stroke: gold;
      stroke-width: 0.5px;
    }
      &.cluster-1 {
      fill: #30653a;
      
      &.attached {
        fill: lighten(#30653a, 10%);
      }
    }
    &.cluster-2 {
      fill: #7d4f00;
      
      &.attached {
        fill: lighten(#7d4f00, 10%);
      }
    }
    &.cluster-3 {
      fill: #4e597d;
      
      &.attached {
        fill: lighten(#4e597d, 10%);
      }

    }
    &.cluster-4 {
      fill: #2a616e;
      
      &.attached {
        fill: lighten(#2a616e, 10%);
      }

    }
    &.cluster-5 {
      fill: #a3301e;
      
      &.attached {
        fill: lighten(#a3301e, 10%);
      }

    }
    &.cluster-6 {
      fill: #81447f;
      
      &.attached {
        fill: lighten(#81447f, 10%);
      }

    }
    &.cluster-7 {
      fill: #005fa9;
      
      &.attached {
        fill: lighten(#005fa9, 10%);
      }

    }
    @for $i from 1 through 7 {
      &.cluster-#{$i} {
        transition-delay: #{12 + $i * 25}ms;
      }
    }

  }

  .nodes text {
    font-size: 1px;
    transition: opacity 0.25s linear;
    &.hide {
      opacity: 0;
    }
  }



  path.alaska {
    fill: #BCBEC0; stroke: #58585B;
  }

  .statewide-rect {
    fill:none;
    stroke: #000;
    stroke-width: 0.1;
    transition: opacity 0.25s linear;
    &.hide {
      opacity: 0;
    }
  }
}

} // end .map-container
