.map-container {
    margin-top: 20px;
    border-top: 1px solid #BCBEC0;
    padding: 20px 0;


 svg {
  position: absolute;
  .links line {
    
    mix-blend-mode: hard-light;
    opacity: 0.30;
    &.below-threshold {
      display: none;
      &.active {
        display: initial;
      }
    }
    &.active {
      opacity: 0.6;
    }
    &.cluster-1 {
      stroke: #30653a;
    }
    &.cluster-2 {
      stroke: #7d4f00;
    }
    &.cluster-3 {
      stroke: #4e597d;
    }
    &.cluster-4 {
      stroke: #2a616e;
    }
    &.cluster-5 {
      stroke: #a3301e;
    }
    &.cluster-6 {
      stroke: #81447f;
    }
    &.cluster-7 {
      stroke: #005fa9;
    }
    &.no-cluster {
      stroke: #5a5a5a;
    }
  }

  .nodes circle {
    stroke: #fff;
    stroke-width: 0.1px;
    &:focus {
      outline: none;
    }
    &.active {
      stroke:gold;
      stroke-width: 0.5px;
    }
    &.cluster-1 {
      fill: #30653a;
      &.active {
        fill: lighten(#30653a, 20%);
      }
      &.attached {
        fill: lighten(#30653a, 10%);
      }
    }
    &.cluster-2 {
      fill: #7d4f00;
      &.active {
        fill: lighten(#7d4f00, 20%);
      }
      &.attached {
        fill: lighten(#7d4f00, 10%);
      }
    }
    &.cluster-3 {
      fill: #4e597d;
      &.active {
        fill: lighten(#4e597d, 20%);
      }
      &.attached {
        fill: lighten(#4e597d, 10%);
      }

    }
    &.cluster-4 {
      fill: #2a616e;
      &.active {
        fill: lighten(#2a616e, 20%);
      }
      &.attached {
        fill: lighten(#2a616e, 10%);
      }

    }
    &.cluster-5 {
      fill: #a3301e;
      &.active {
        fill: lighten(#a3301e, 20%);
      }
      &.attached {
        fill: lighten(#a3301e, 10%);
      }

    }
    &.cluster-6 {
      fill: #81447f;
      &.active {
        fill: lighten(#81447f, 20%);
      }
      &.attached {
        fill: lighten(#81447f, 10%);
      }

    }
    &.cluster-7 {
      fill: #005fa9;
      &.active {
        fill: lighten(#005fa9, 20%);
      }
      &.attached {
        fill: lighten(#005fa9, 10%);
      }

    }

  }

  .nodes text {
    font-size: 1px;
  }

  path.alaska {
    fill: #BCBEC0; stroke: #58585B;
  }
}

}