.listView {
    p {
        font-weight: bold;
    }
    flex-grow:1;
    
    //border: 1px solid magenta;

    ol {
        padding-left: 1em;
        max-width: 230px;
        transition: opacity 0.25s linear;
        margin-bottom: 0;
        &.hidden li {
            span {
                color: #bcbec0;
            }
            span:first-child {
                    font-weight: normal;
                } 
        } 
        li {
            cursor: pointer;
             > span {
                display: flex;
                justify-content: space-between;
                span:first-child {
                    font-weight: bold;
                }
            }
        }
    }
}
.listsContainer {
    display: flex;
    margin-top: 20px;
}
.relativeTo {
    transition: opacity 0.25s linear;
}
