@import '../../css/_variables.scss';
.listView {
    p {
        font-weight: bold;
    }
    flex-grow:1;
    
    //border: 1px solid magenta;

    ol {
        padding-left: 0;
        max-width: 260px;
        transition: opacity 0.25s linear;
        margin-bottom: 0;
        height: 6.5em;
        overflow-y: auto;
        &.hidden li {
            color: #bcbec0;
            span:first-child {
                font-weight: normal;
            }
            &:hover {
                border-left-color:transparent;
            } 
        } 
        li {
            list-style-position: inside;
            transition: color 0.2s linear 0.05s, border-left-color 0.2s linear 0.05s;
            cursor: pointer;
            border-left: 2px solid transparent;
            padding-left: 0.5em;
             > span {
                display: inline-flex;
                justify-content: space-between;
                width:85%;
                
            }
            &:hover {
                border-left-color: gold;
            }
            &.selected-list-item {
                font-weight: bold;
                color: $blue;
                border-left-color: $blue;
            }
        }
    }
}
.listsContainer {
    display: flex;
    margin-top: 20px;
}
.relativeTo {
    transition: opacity 0.25s linear;
}

