@import 'variables.scss';

/*
 * FLEXBOX
 */

 .flex {
 	display: flex;
 	flex-wrap: wrap;
 }

 .space-between {
 	justify-content: space-between;
 }

 .items-start {
 	align-items: flex-start;
 }

 .items-center {
 	align-items: center;
 }

 .grow {
  flex-grow: 1;
 }

/*
 *  COLUMNS
 */

#app-container {
  margin-bottom: 40px;
  * {
      box-sizing: border-box;
    }
  } 

#dev-container {
  max-width:1200px;
  width: 100%;
  margin: 0 auto;
}

 .layout {
    //border: 1px solid magenta;
 }

 .main-column {
  flex-grow:6;
  width:600px;
  margin-right:20px;
  h2 {
    transition: opacity 0.25s linear;
  }
 }
 .side-column {
    flex-grow:1;
    width: 437px;
    margin-top: 10px;
    border-left: 1px solid #d1d2d4;
    padding-left: 20px;

 }

 .landing-header {
  margin-bottom: 0;
 }

 /*
  *  other common
  */

  .relative {
    position: relative;
  }

  .no-opacity {
    opacity: 0;
  }