@import 'variables.scss';

/*
 * FLEXBOX
 */

 .flex {
 	display: flex;
 	flex-wrap: wrap;
 }

 .space-between {
 	justify-content: space-between;
 }

 .items-start {
 	align-items: flex-start;
 }

 .items-center {
 	align-items: center;
 }

 .grow {
  flex-grow: 1;
 }

/*
 *  COLUMNS
 */

#app-container {
  margin-bottom: 40px;
  * {
      box-sizing: border-box;
    }
  }
  p:first-child {
    max-width: 860px;
  }

#dev-container {
  max-width:1200px;
  width: 100%;
  margin: 0 auto;
}

 .layout {
    //border: 1px solid magenta;
 }

 .main-column {
  flex-grow:6;
  width:600px;
  margin-right:20px;
  h2 {
    transition: opacity 0.25s linear;
  }
 }
 .side-column {
    flex-grow:1;
    width: 440px;
    margin-top: 10px;
    border-left: 1px solid #d1d2d4;
    padding-left: 20px;

 }

 .landing-header {
  border-bottom: none;
 }



 /*
  *  other common
  */

  .relative {
    position: relative;
  }

  .no-opacity {
    opacity: 0;
  }

  /* browser specific */

  /* IE 10 and 11 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .map-container svg {
   // height: 53%;
  }
  #app-container > p:first-child:before {
    content: 'This feature looks and works better in browsers other than Internet Explorer and MS Edge';
    position: absolute;
    color: $red;
    top: 0;
    font-weight: bold;
  }
}