.selectionDiv {
    padding-bottom: 10px;
    padding-top:0.625em;
    width: 100%;
    //will-change: scroll-position;
    background-color: #fff;
    z-index:9;
    border-bottom: 1px solid #d1d2d4;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    overflow: hidden;
}

.selector {
    display:flex;
    margin-right:7px;
    &:last-child > div {
        margin-right: 13px;
    }
    select  {
        width: 158px;
        margin-right:7px;
        flex-grow: 1;
        &.dropdown-id {
            max-width: 155px;
            font-weight: bold;
        }
    }
}
.resetButton {
   
}
.heading {
    margin-top:7px;
    margin-right: 10px;
}

.fixed {
    position: fixed;
    top: 0;
}