.selector {
    display:flex;
    margin-right:7px;
    &:last-child > div {
        margin-right: 13px;
    }
    select  {
        width: 113px;
        margin-right:7px;
        flex-grow: 1;
    }
}