.selector {
    display:flex;
    margin-right:7px;
    &:last-child > div {
        margin-right: 13px;
    }
    select  {
        width: 158px;
        margin-right:7px;
        flex-grow: 1;
        &#dropdown-id {
            max-width: 155px;
        }
    }
}
.resetButton {
    position: absolute;
    right:14px;
    bottom: 0;
}